

<body>
    

    <div class="container">

        <form class="container-fluid flex-col items-center form" id="comment-form" action="/menu/edit" method="post" id="comment-form" style="width:500px;">
            <span style="font-size: 6rem;" class="ml-4 font-extrabold text-gray-200">Edit Menu</span>
               
            
            <div class="menu-form form-group mt-4 mb-4">
                    <label >Name</label>
                    <input value="<%-menu.name%>" type="text"  id="name" name= "name" placeholder="Enter your full name" style="font-size: 3rem;" required>
                
                </div>
                    
                <div >
                    <label class="menu-form form-group mt-4 mb-4">Price</label>
                    <input value="<%-menu.price%>" type="text" id="price" name='price'  placeholder="Enter price" style="font-size: 3rem;" required>
                </div>
                    
        
                    <div class="menu-form form-group mt-4 mb-4">
                        <label >Status</label>
                        <input value="<%-menu.status%>" type="text"  id="status" name='status'  placeholder="Enter status" style="font-size: 3rem;" >
                     
                    </div>
        
                       <div class="menu-form form-group mb-4">
                        <label >Remark</label>
                        <input value="<%-menu.remark%>" type="text" id="remark" name='remark' placeholder="Enter remark" style="font-size: 3rem;" >
                    
                    </div>
                    <div  class="col-sm flex justify-center items-center p-4">
                        <button   type="submit" style="font-size: 3rem;" class="py-2 btn btn-block btn-outline-success" >
                            Add Menu</button>
                 
        
                
          </form>
          </div>

</body>


<style>
    body {
   
  
   color: rgb(253, 251, 251);
   background-image: url("/assets/bg36.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   /* overflow-x: hidden; */
   
  
   
   
 }

form {
       color: black;
      
       /* border: 1px solid blue; */
       margin-left: 35%;
       margin-bottom: 3%;
   }

   button{
       
       
       margin-top: 5%;
       color: rgb(255, 255, 255);
      padding: 10px;
       border: 2px solid rgb(255, 145, 0);
   }

   .form-box {
       display: flex;
       flex-direction: column;
       gap: 2em;
       width: 40px;
       color: white;
    
   }

   label {
    display: flex;
       gap:5%;
   }

   .menu-edit {
       color: black;
       font-size: 30px;
   }
</style>

    
    
    
 